<div class="emoji row">

  <div class="col-2">
    {{emoji.name}}
  </div>

  <div class="col-6">
      <a [href]="emoji.link">{{emoji.link}}</a>
  </div>

  <div class="col-2 d-flex">
    <img class="emoji__image" [src]="emoji.link" (click)="open()" alt="Emoji! Everyone love emoji!">
  </div>

  <div class="col-2 d-flex" [ngSwitch]="emoji.status">

    <ng-container *ngSwitchCase="emojiService.NONE">
      <button mat-icon-button class="emoji__button" (click)="changeEmojiStatus(emojiService.FAVORITE)"><i class="fa fa-star"></i></button>
      <button mat-icon-button class="emoji__button" (click)="changeEmojiStatus(emojiService.DELETED)"><i class="fa fa-trash"></i></button>
    </ng-container>

    <ng-container *ngSwitchCase="emojiService.DELETED">
      <button mat-stroked-button class="emoji__button" (click)="changeEmojiStatus(emojiService.NONE)">Востановить</button>
    </ng-container>

    <ng-container *ngSwitchCase="emojiService.FAVORITE">
      <button mat-icon-button class="emoji__button emoji__button_red" (click)="changeEmojiStatus(emojiService.NONE)"><i class="fa fa-star"></i></button>
    </ng-container>

  </div>

</div>

