<div class="row">
  <div class="col-8">
    {{emoji.name}}
  </div>
  <div class="col-4">
    [Превью | действия]
  </div>
</div>
<div class="row">
  <div class="col-8">
    {{emoji.link}}
  </div>
  <div class="col-2">
    <img [src]="emoji.link" (click)="open()" alt="Emoji! Everyone love emoji!">
  </div>
  <div class="col-1">
    <button mat-stroked-button="{color: 'primary'}"><i class="fa fa-star"></i></button>
  </div>
  <div class="col-1">
    <button mat-stroked-button="" [color]="'primary'"><i class="fa fa-trash"></i></button>
  </div>
</div>
