.cloak {
  margin: 50px auto;
  text-align: center;
  font-size: 24px;
  color: red;
}

.cloak__spiner {
  margin: auto;
}

.navmenu {
  width: 100%;
}

.navbar {
  display: flex;
  margin-bottom: 15px;
}

.content {
  max-height: 400px;
}

.search {

}

.search__field {

}

.search__button {
  margin-left: 15px;
}

.search__icon {
  font-size: 0.75rem;
}
