<div class="container" *ngIf="!loading; else cloak">
  <div class="row">

    <div class="col-2">
      <mat-button-toggle-group class="navmenu" [vertical]="true">
        <!--<mat-button-toggle
          *ngFor="let list of emojiService.lists | keyvalue: nameOrdering"
          (click)="changeList(list.key)"
          [checked]="list.key === currentListIndex">{{list.value.name}}
        </mat-button-toggle>-->
        <mat-button-toggle
          *ngFor="let list of emojiService.lists | keyvalue: nameOrdering"
          [routerLink]="['/emoji', (list.key === 'none' ? '' : list.key)]" [queryParams]="{ search: searchValue }"
          [checked]="list.key === currentListIndex">{{list.value.name}}
        </mat-button-toggle>
        <!--<mat-button-toggle *ngFor="let key of pagination()" (click)="changeList(key)" [checked]="key === currentListIndex">{{emojiService.lists[key].name}}</mat-button-toggle>-->
      </mat-button-toggle-group>
    </div>

    <div class="col-10 container">
      <mat-card class="navbar">

        <mat-card-header>
          <mat-card-title>
            {{ emojiService.lists[currentListIndex].name }}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="search">
            <mat-form-field class="search__field">
              <input type="text" matInput placeholder="Emoji name" [(ngModel)]="searchValue">
              <mat-icon matSuffix class="search__icon"><i class="fa fa-search"></i></mat-icon>
            </mat-form-field>
            <button class="search__button" mat-stroked-button (click)="setSearchQueryParams()">Search</button>
          </div>
        </mat-card-content>

      </mat-card>

      <mat-card [style.overflow]="'auto'" *ngIf="currentList.length > 0; else emptylist">

        <!-- TODO добавить сортировку? -->
        <div class="container">

          <div class="row">
            <div class="col-2">Имя</div>
            <div class="col-6">Ссылка</div>
            <div class="text-center col-2">Превью</div>
            <div class="col-2"></div>
          </div>

          <div class="content">
            <app-emoji *ngFor="let emoji of pagination()" [emoji]="emoji" (statusChanged)="changeEmojiStatus(emoji, $event)"></app-emoji>
          </div>

        </div>

        <mat-card-footer>
          <button mat-icon-button (click)="paginationChangePage(paginationPage - 1)"><i class="fa fa-angle-left"></i></button>
          {{ paginationPage }}
          <button mat-icon-button (click)="paginationChangePage(paginationPage + 1)"><i class="fa fa-angle-right"></i></button>
        </mat-card-footer>

      </mat-card>

      <ng-template #emptylist>
        <mat-card>
           <!-- TODO при вводе поискового значения этот текст меняется до нажатия кнопки -->
           {{ searchValue ? 'Соответствий не найдено' : 'Список пуст'}}
        </mat-card>
      </ng-template>

    </div>

  </div>
</div>

<ng-template #cloak>
  <div class="cloak">
    <mat-spinner class="cloak__spiner" [color]="'warn'" [diameter]="'80'"></mat-spinner>
    ...Loading...
  </div>
</ng-template>
