<div class="container" *ngIf="!loading; else cloak">
  <div class="row">
    <div class="col-2">

      <!--
      <ul class="btn-group-vertical">
        <li class="btn btn-danger" >{{list.tag}}</li>
      </ul>
      -->

      <mat-button-toggle-group class="nav-menu" [vertical]="true">
        <mat-button-toggle *ngFor="let list of lists; let i = index" (click)="changeState(i)" [checked]="i === currentState">{{list.tag}}</mat-button-toggle>
      </mat-button-toggle-group>

    </div>
    <div class="col-10 container">

      <mat-card>
        <div class="row">

          <div class="col-8">
            <div class="title">{{ lists[currentState].tag }}</div>
          </div>

          <div class="search col-4">
            <mat-form-field class="search__field"><input matInput placeholder="Input emoji name"></mat-form-field>
            <button class="search__button" mat-stroked-button><i class="fa fa-search"></i></button>
          </div>

        </div>
      </mat-card>

      <!--
      <div class="row" *ngIf="lists[currentState].emojies.length === 0; else notempty">
        Список пуст
      </div>
      <ng-template #notempty>
        <app-emoji *ngFor="let emoji of lists[currentState].emojies" [emoji]="emoji"></app-emoji>
      </ng-template>
      -->

    </div>
  </div>

</div>

<ng-template #cloak>
  Загрузка...
</ng-template>
